body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 40px 20px;
  color: #212529;
}

.gallery-container {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-weight: 600;
  font-size: 2.5rem;
  margin-block: 0;
}

.gallery-container p {
  color: #6c757d;
  font-size: 1rem;
  margin-bottom: 12px;
  margin-top: 15px;
}

.filter-buttons {
  margin-bottom: 50px;
}

.filter-btn {
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #6c757d;
  padding: 12px 24px;
  margin: 5px;
  cursor: pointer;
  border-radius: 50px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.filter-btn:hover {
  background-color: #e9ecef;
  color: #212529;
}

.filter-btn.active {
  background-color: #212529;
  color: #fff;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
}

.gallery-item {
  border-radius: 16px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.07);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.hidden {
  display: none;
}